@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <img src="Documents\GitHub\TipsForTrips\Webapp\WebApp\WebApp\forside.jfif">
                    
                </div>
            </div>
        </div>
    </header>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>ost</p>
</div>
