
WebApplicationFinal/.vs/WebApplicationFinal/v16/Server/sqlite3/storage.ide-wal
WebApplicationFinal/.vs/WebApplicationFinal/v16/Server/sqlite3/storage.ide-wal
WebApplicationFinal/.vs/WebApplicationFinal/v16/Server/sqlite3/storage.ide-shm
*.ide-shm
*.ide-wal
WebApplicationFinal/.vs/WebApplicationFinal/v16/.suo
WebApplicationFinal/.vs/WebApplicationFinal/v16/Server/sqlite3/storage.ide
WebApplicationFinal/.vs/WebApplicationFinal/v16/Server/sqlite3/storage.ide-shm
WebApplicationFinal/.vs/WebApplicationFinal/v16/Server/sqlite3/storage.ide-wal
